<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
	bootstrap="vendor/autoload.php">
	<testsuites>
		<testsuite name="Unit">
			<directory suffix=".php">./t/Unit</directory>
		</testsuite>
		<testsuite name="Feature">
			<directory suffix=".php">./t/Feature</directory>
		</testsuite>
		<testsuite name="Integration">
			<directory suffix=".php">./t/Integration</directory>
		</testsuite>
	</testsuites>
	<php>
		<env name="VARIABLE_NAME" value="variable_value"/>
	</php>
</phpunit>
